<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="site/head.html :: head"/>

<body>
<!--================= main start ================-->
<div id="main">
    <div class="page-background">
        <div class="bg" style="background-image:url(images/bg/1.jpg)"></div>
        <div class="overlay"></div>
    </div>
    <!--================= header start ================-->
    <header id="header" th:replace="site/menu.html :: menu"/>


    <div class="clear"></div>
    <!--================= wrapper start ================-->
    <div id="wrapper">
        <!--================= content-holder start ================-->
        <div class="content-holder" id="dunamic-content">
            <div class="container">
                <!--content Start -->
                <section class="content">
                    <div class="anim-content">
                        <div class="grid-full">
                            <h3 class="section-title"> Contact</h3>
                            <div class="clear"></div>
                        </div>
                        <div class="page-box">
                            <div class="clear"></div>
                            <div class="separator"></div>
                            <div class="grid-half">
                                <p class="align-text"></p>
                                <ul class="contact-list">
                                    <li>
                                        <i class="fa fa-phone"></i>
                                        <span class="transition">(+33)6 28 47 30 80</span>
                                    </li>
                                    <li>
                                        <i class="fa fa-envelope-o"></i>
                                        <a href="mailto:contacts@amonteiro.fr" class="transition">contacts@amonteiro.fr</a>
                                    </li>
                                    <li>
                                        <i class="fa"><img src="images/entreprise/linkedin.png" th:width="75" th:height="25"/></i>
                                        <a href="https://www.linkedin.com/in/anthony-monteiro-0bb21217/"><u>Profil LinkedIn</u></a>
                                    </li>
                                    <li>
                                        <i class="fa fa-home"></i>
                                        <span class="transition">Toulouse & Nice</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="grid-half">
                                <div id="contact-form">
                                    <div id="message"></div>
                                    <form method="post"  action="@{/sendMessage}" name="contactform" id="contactform">
                                        <input name="name" type="text" id="name" onFocus="if(this.value == 'Name') { this.value = ''; }"
                                               onBlur="if(this.value == '') { this.value = 'Name'; }" value="Name">
                                        <input name="email" type="text" id="email" onFocus="if(this.value == 'E-mail') { this.value = ''; }"
                                               onBlur="if(this.value == '') { this.value = 'E-mail'; }" value="E-mail">
                                        <textarea name="comments" id="comments" onFocus="if(this.value == 'Message') { this.value = ''; }"
                                                  onBlur="if(this.value == '') { this.value = 'Message'; }">Message</textarea>
                                        <input type="submit" class="send_message transition" id="submit" value="Envoyer le message"/>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--content end -->
            </div>
            <div class="clear"></div>
            <!--================= Footer start ================-->
            <footer id="footer" th:replace="site/footer.html :: footer"/>
        </div>
        <!-- Wrapper end -->
    </div>
    <!-- Main end -->
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/jpreloader.min.js"></script>
    <script type="text/javascript" src="js/plugins.js"></script>
    <script type="text/javascript" src="js/core.js"></script>
    <script type="text/javascript" src="js/scripts.js"></script>
</body>
</html>