<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="site/head.html :: head"/>

<body>
<!--================= main start ================-->
<div id="main">
    <div class="page-background">
        <div class="bg" style="background-image:url(images/bg/1.jpg)"></div>
        <div class="overlay"></div>
    </div>
    <!--================= header start ================-->
    <header id="header" th:replace="site/menu.html :: menu"/>

    <!-- header end-->
    <div class="clear"></div>
    <!--================= wrapper start ================-->
    <div id="wrapper">
        <!--================= content-holder start ================-->
        <div class="content-holder" id="dunamic-content">
            <!--=================  start================-->
            <div class="container">
                <!--content Start -->
                <section class="content">
                    <div class="anim-content">
                        <div class="page-box">
                            <div class="grid-full">
                                <h3 class="section-title">Urban Pulse</h3>
                                <div class="clear"></div>
                                <div class="separator"></div>
                            </div>
                            <div class="grid-full">
                                <div class="single-media">
                                    <div class="popup-gallery">
                                        <div class="custom-image notvisible2">
                                            <span class="raster"></span>
                                            <a href="images/appli/up/capture1.png" title="image 1"><i class="fa fa-plus"></i></a>
                                            <img src="images/appli/up/capture1.png" class="respimg" alt="">
                                        </div>
                                        <div class="custom-image notvisible2">
                                            <span class="raster"></span>
                                            <a href="images/appli/up/capture2.png" title="image 2"><i class="fa fa-plus"></i></a>
                                            <img src="images/appli/up/capture2.png" class="respimg" alt="">
                                        </div>
                                        <div class="custom-image notvisible2">
                                            <span class="raster"></span>
                                            <a href="images/appli/up/capture3.png" title="image 3"><i class="fa fa-plus"></i></a>
                                            <img src="images/appli/up/capture3.png" class="respimg" alt="">
                                        </div>
                                        <div class="custom-image notvisible2">
                                            <span class="raster"></span>
                                            <a href="images/appli/up/capture4.png" title="image 4"><i class="fa fa-plus"></i></a>
                                            <img src="images/appli/up/capture4.png" class="respimg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-full">
                                <div class="separator float-left"></div>
                            </div>
                            <div class="clear"></div>
                            <div class="grid-half">
                                <p class="align-text">
                                    <b>Urban Pulse est l’appli idéale pour vivre en ville :</b><br/><br/>
                                    <b>1 – </b>Elle trouve vos trajets ou itinéraires en prenant en compte ABSOLUMENT TOUS les modes de transport : Bus
                                    (Noctilien aussi), Métro, RER, Tram, Transilien, Taxis, Parkings, Vélib, Bateau-bus, et même les stations-services.<br/>
                                    <b>2 – </b>Vous cherchez un after work, un bon plan ou une expo pas loin ? Tapez n’importe quel mot clé dans le moteur de
                                    recherche, Urban Pulse recense tous les lieux et les événements en rapport et vous donne l’itinéraire en 1 clic. Plus besoin
                                    désormais de ressaisir l’adresse de vos destinations. Et si votre bar fétiche manque dans l’application, ajoutez-le en
                                    donnant votre avis !<br/>
                                    <b>3 – </b>Vous arrivez sur place, et vos amis sont en retard ? Demandez-leur leur position, et suivez sur Urban Pulse leur
                                    progression vers le rendez-vous !<br/><br/>
                                    <b>Bonus : </b><br/>
                                    <b>> </b>Si vous n'avez pas trop d'idées pour ce soir, laissez-vous tenter par nos sélections <br/>
                                    <b>> </b>Si vous n’avez pas envie d’aller trop loin, nous recensons toutes les possibilités à côté de là où vous êtes!<br/>
                                    <b>> </b>Et parce que ça peut toujours servir, Urban Pulse recense aussi les pharmacies, distributeurs, accès wifi gratuits…<br/>
                                    <b>> </b>Pas envie de sortir ce soir ? La fonction domicile-travail sur la page d’accueil affiche en temps réel le temps de
                                    trajet pour rentrer chez vous !<br/><br/>
                                    <b>L'appli la plus complète pour vos sorties et vos déplacements est disponible pour les villes de 19 départements</b><br/>
                                </p>
                            </div>
                            <div class="grid-half">
                                <ul class="project-info standart-box">
                                    <li class="standart-box">
                                        <span>Category</span>
                                        <img src="images/entreprise/android.jpg" height="30" alt="">
                                    </li>
                                    <li class="standart-box">
                                        <span>Client</span>
                                        <h4>Cardiweb</h4>
                                    </li>
                                    <li class="standart-box">
                                        <span>Application</span>
                                        <h4>UrbanPulse</h4>
                                    </li>
                                </ul>

                                <a href="https://play.google.com/store/apps/details?id=fr.urbanpulse.android&hl=fr_FR"
                                   class="button float-button  transition hide-icon" target="_blank"><i class="fa fa-angle-right transition2"></i><span
                                        class="text transition">Voir sur le store</span></a>
                            </div>
                            <div class="grid-full">
                                <div class="standart-box project-navigation ">
                                    <ul>
                                        <li>
                                            <a class="ajax left-nav" th:href="@{/portfolio(name=lyra)}">
                                                <i class="fa fa-chevron-left"></i>
                                                <div class="tooltip">
                                                    <img src="images/entreprise/lyra.png" class="respimg" alt="" title="">
                                                    <h5>Payzen Mobile</h5>
                                                </div>
                                            </a>
                                        </li>
                                        <li><a class="center-nav"></a></li>
                                        <li>
                                            <a class="ajax right-nav" th:href="@{/portfolio(name=emargement)}">
                                                <i class="fa fa-chevron-right"></i>
                                                <div class="tooltip">
                                                    <img src="images/appli/acadomiaemargement/Capture.jpg" class="respimg" alt="" title="">
                                                    <h5>Acadomia Emargement</h5>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--content end -->
            </div>
            <div class="clear"></div>
            <!--================= Footer start ================-->
            <!--================= Footer start ================-->
            <footer id="footer" th:replace="site/footer.html :: footer"/>

        </div>
        <!-- Content-holder end-->
    </div>
    <!-- Wrapper end -->
</div>
<!-- Main end -->
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/jpreloader.min.js"></script>
<script type="text/javascript" src="js/plugins.js"></script>
<script type="text/javascript" src="js/core.js"></script>
<script type="text/javascript" src="js/scripts.js"></script>
</body>
</html>